<div fxLayout="column">

    <h2>Assign Rights</h2>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    SMS
                </mat-panel-title>

            </mat-expansion-panel-header>

            <h1>SMS Panel</h1>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Email
                </mat-panel-title>

            </mat-expansion-panel-header>

            <h1>Email Panel</h1>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    OBD
                </mat-panel-title>

            </mat-expansion-panel-header>

            <h1>OBD Panel</h1>

        </mat-expansion-panel>


    </mat-accordion>
</div>