<div class="card">
  <div class="card-body">
     <div class="tab-pane show" id="striped-rows-preview">
        <div class="table-responsive-sm">
           <table class="table table-striped table-centered mb-0">
              <thead>
                 <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Category</th>
                    <th>Partner Name</th>
                    <th>Thumbnail</th>
                    <th>Actions</th>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                    <td class="table-user">
                       P1000
                    </td>
                    <td>MOD</td>
                    <td>Music on demand</td>
                    <td>Music</td>
                    <td>DiGiSPICE</td>
                    <td>img.png</td>
                    <td class="table-action">
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-eye"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-edit"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-delete"></i></a>
                    </td>
                 </tr>
                 <tr>
                    <td class="table-user">
                       P1001
                    </td>
                    <td>VOD</td>
                    <td>Video on demand</td>
                    <td>Video</td>
                    <td>DiGiSPICE</td>
                    <td>img.png</td>
                    <td class="table-action">
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-eye"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-edit"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-delete"></i></a>
                    </td>
                 </tr>
                 <tr>
                    <td class="table-user">
                       P1002
                    </td>
                    <td>MOD</td>
                    <td>Music on demand</td>
                    <td>Music</td>
                    <td>DiGiSPICE</td>
                    <td>img.png</td>
                    <td class="table-action">
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-eye"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-edit"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-delete"></i></a>
                    </td>
                 </tr>
                 <tr>
                    <td class="table-user">
                       P1001
                    </td>
                    <td>VOD</td>
                    <td>Video on demand</td>
                    <td>Video</td>
                    <td>DiGiSPICE</td>
                    <td>img.png</td>
                    <td class="table-action">
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-eye"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-edit"></i></a>
                       <a href="javascript: void(0);" class="action-icon"> <i class="zmdi zmdi-delete"></i></a>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <!-- end table-responsive-->                     
     </div>
  </div>
</div>